* {
    background-color: aliceblue;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

button, a {
    background-color: burlywood;
}

a {
    color: black;
}

.header {
    margin: 10px;
    width: 100%;
}

p,h3 {
    text-align: center;
}

.header .pic {
    width: 50%;
    display: block;
    margin: auto;
}

.header .text {
    margin-top: 10px;
    background-color: pink;
    text-align: center;
    border: 3px dotted yellow;
}

.recipe-item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

#recipe-id {
    padding: 5px;
    border: magenta 2px solid; 
}
    