* {
    background-color: aliceblue;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

button, a {
    background-color: black;
}

a {
    color: white;
}

.header {
    background-color: pink;
    text-align: center;
    border: 3px dotted yellow;
}

p,h3 {
    text-align: center;
}


    
